<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script src="__PUBLIC__/Admin/pintuer.js"></script>
    <script src="__PUBLIC__/Admin/pjs/jquery-3.1.1.js"></script>
    <!--Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/Admin/pjs/bootstrap.min.js"></script>
</head>
<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 审核新闻</strong></div>
    <form action="{:U('exam')}" method='post' class="form-x" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <div class="body-content">
            <div class="form-group">
                <div class="label">
                    <label>标题：</label>
                </div>
                <div class="field">
                    <label style="line-height:33px;">
                        <input size="50" class="input" type="text" style="width: 60%;" name='title' id="title" value="<?php echo $data['title']; ?>" disabled="disabled"/>
                        <input size="50" class="input" type="hidden" name='title' value="<?php echo $data['title']; ?>"/>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>类别：</label>
                </div>
                <div class="field">
                    <if condition="$data.pid eq 1">
                        <input  class="input"  style="width: 60%;" name="condition" value="新闻资讯" disabled="disabled"/>
                    </if>
                    <if condition="$data.pid eq 2">
                        <input  class="input"  style="width: 60%;" name="condition" value="企业动态" disabled="disabled"/>
                    </if>
                    <if condition="$data.pid eq 3">
                        <input  class="input"  style="width: 60%;" name="condition" value="最新资讯" disabled="disabled"/>
                    </if>
                    <if condition="$data.pid eq 4">
                        <input  class="input"  style="width: 60%;" name="condition" value="资讯中心" disabled="disabled"/>
                    </if>
                    <if condition="$data.pid eq 5">
                        <input  class="input"  style="width: 60%;" name="condition" value="新闻动态" disabled="disabled"/>
                    </if>
                    <if condition="$data.pid eq 6">
                        <input  class="input"  style="width: 60%;" name="condition" value="公司新闻" disabled="disabled"/>
                    </if>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>内容：</label>
                </div>
                <div class="field">
                    <script id="editor"  type="text/plain" style="width: 60%;" name="content" style="width:100%px;height:300px;"></script>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 通过</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="button bg-main icon-move" href="{:U('reject', array('id' => $data['id']))}">&nbsp;驳回</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="button bg-main  icon-repeat" href="{:U('back')}"> 返回</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    function del(id) {
        function del(id) {
            var r=confirm("是否确认删除");
            if (r==true)
            {
                $.get("{:U('delPic')}",{pic_id:id})
            }
        }
    }
</script>
<script>
    //对编辑器的操作最好在编辑器ready之后再做
    var ue = UE.getEditor('editor', {
        "initialFrameWidth" : "100%",   // 宽
        "initialFrameHeight" : 400,      // 高
        "maximumWords" : 10000            // 最大可以输入的字符数量
    });

    ue.ready(function() {
        //设置编辑器的内容
        ue.setContent('<?php echo $data["content"]; ?>');//赋值给UEditor
    });

</script>
</body>
</html>

